
					<div id="mockup_DIV_1">
						<ul id="mockup_UL_2">
							<li 
								(mouseenter)="mouseenter()"
								(mouseleave)="mouseleave()"
								[class.buttonActive]="hover == true || pressed == true"
								[class.buttonInactive]="pressed == true ? false : hover == false"
								[class.buttonPressed]="pressed == true"
							>
								<a 
								[class.buttonActiveLink]="hover == true || pressed == true"
								[class.buttonInactiveLink]="pressed == true ? false : hover == false"
								(mousedown)="pressDown()"
								(mouseup)="pressUp()"

								> {{label}}</a>
							</li>
							<!-- <li class="buttonInactive">
								<a class="buttonInactiveLink">Get involved</a>
							</li> -->
						</ul>
					</div>