#mockup_DIV_7, #mockup_DIV_8 {
    background-position: 50% 0%;
    height: 0px;
    width: 1680px;
    perspective-origin: 840px 0px;
    transform-origin: 840px 0px;
    background: rgba(0, 0, 0, 0) none no-repeat scroll 50% 0% / auto padding-box border-box;
    font: 18px / 26px Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}/*#mockup_DIV_7, #mockup_DIV_8*/

#mockup_MAIN_9 {
    background-position: 50% 0%;
    bottom: 0px;
    box-sizing: border-box;
    height: 528px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 80px;
    width: 1680px;
    perspective: 2px;
    perspective-origin: 840px 264px;
    transform-origin: 840px 264px;
    transform-style: preserve-3d;
    background: rgba(0, 0, 0, 0) none no-repeat scroll 50% 0% / auto padding-box border-box;
    font: 18px / 26px Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    overflow: hidden overlay;
    transition: top 0.2s ease 0s;
}/*#mockup_MAIN_9*/

#mockup_DIV_10 {
    background-position: 50% 0%;
    height: 15316.4px;
    width: 1680px;
    perspective-origin: 840px 7658.2px;
    transform-origin: 840px 7658.2px;
    transform-style: preserve-3d;
    background: rgba(0, 0, 0, 0) none no-repeat scroll 50% 0% / auto padding-box border-box;
    font: 18px / 26px Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}/*#mockup_DIV_10*/

#mockup_SECTION_11 {
    background-position: 50% 0%;
    bottom: 0px;
    box-sizing: border-box;
    break-inside: avoid;
    color: rgb(255, 255, 255);
    display: flex;
    height: 528px;
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(255, 255, 255);
    top: 0px;
    width: 1680px;
    column-rule-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    perspective-origin: 840px 264px;
    transform-origin: 840px 264px;
    transform-style: preserve-3d;
    caret-color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0) none no-repeat scroll 50% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    flex-flow: column nowrap;
    font: 18px / 26px Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 100px 0px 150px;
}/*#mockup_SECTION_11*/

#mockup_DIV_1 {
    background-position: 50% 0%;
    color: rgb(255, 255, 255);
    display: flex;
    height: 90px;
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    width: 1512px;
    column-rule-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    perspective-origin: 756px 45px;
    transform-origin: 756px 45px;
    caret-color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0) none no-repeat scroll 50% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    flex-flow: row wrap;
    font: 18px / 26px Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    margin: 40px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
}/*#mockup_DIV_1*/

#mockup_DIV_1:after {
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 18px / 26px Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#mockup_DIV_1:after*/

#mockup_DIV_1:before {
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 18px / 26px Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#mockup_DIV_1:before*/

#mockup_UL_2 {
    background-position: 50% 0%;
    color: rgb(255, 255, 255);
    display: flex;
    height: 90px;
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    width: 1512px;
    column-rule-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    perspective-origin: 756px 45px;
    transform-origin: 756px 45px;
    caret-color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0) none no-repeat scroll 50% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    flex: 0 1 100%;
    font: 18px / 26px Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    list-style: outside none none;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px;
}/*#mockup_UL_2*/

#mockup_UL_2:after {
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 18px / 26px Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    list-style: outside none none;
    outline: rgb(255, 255, 255) none 0px;
}/*#mockup_UL_2:after*/

#mockup_UL_2:before {
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 18px / 26px Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    list-style: outside none none;
    outline: rgb(255, 255, 255) none 0px;
}/*#mockup_UL_2:before*/

#mockup_LI_3 {
    background-position: 50% 0%;
    color: rgb(255, 255, 255);
    display: flex;
    height: 60px;
    max-width: 450px;
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    width: 450px;
    column-rule-color: rgb(255, 255, 255);
    align-items: center;
    perspective-origin: 225px 30px;
    transform-origin: 225px 30px;
    caret-color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0) none no-repeat scroll 50% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    flex-flow: column nowrap;
    font: 18px / 26px Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    list-style: outside none none;
    margin: 0px 56px 30px 0px;
    outline: rgb(255, 255, 255) none 0px;
}/*#mockup_LI_3*/

#mockup_LI_3:after {
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 18px / 26px Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    list-style: outside none none;
    outline: rgb(255, 255, 255) none 0px;
}/*#mockup_LI_3:after*/

#mockup_LI_3:before {
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 18px / 26px Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    list-style: outside none none;
    outline: rgb(255, 255, 255) none 0px;
}/*#mockup_LI_3:before*/

#mockup_A_4, #mockup_A_6 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: flex;
    height: 60px;
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    width: 450px;
    column-rule-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    perspective-origin: 225px 30px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 225px 30px;
    caret-color: rgb(255, 255, 255);
    border: 2px solid rgb(247, 41, 110);
    flex: 0 0 auto;
    font: 500 20px / 25px Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    list-style: outside none none;
    outline: rgb(255, 255, 255) none 0px;
    transition: all 0.1s ease 0s;
}/*#mockup_A_4, #mockup_A_6*/

#mockup_A_4:after, #mockup_A_6:after {
    bottom: -12px;
    color: rgb(255, 255, 255);
    content: '""';
    display: block;
    height: 9px;
    left: -7px;
    position: absolute;
    right: 3px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    top: 57px;
    width: 444px;
    z-index: -1;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 225px 5.5px;
    transform: matrix(1, 0, -1, 1, 0, 0);
    transform-origin: 225px 5.5px;
    caret-color: rgb(255, 255, 255);
    border-top: 0px solid rgb(247, 41, 110);
    border-right: 3px solid rgb(247, 41, 110);
    border-bottom: 2px solid rgb(247, 41, 110);
    border-left: 3px solid rgb(247, 41, 110);
    font: 500 20px / 25px Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    list-style: outside none none;
    outline: rgb(255, 255, 255) none 0px;
    transition: all 0.1s ease 0s;
}/*#mockup_A_4:after, #mockup_A_6:after*/

#mockup_A_4:before, #mockup_A_6:before {
    bottom: -8px;
    color: rgb(255, 255, 255);
    content: '""';
    display: block;
    height: 58px;
    left: -12px;
    position: absolute;
    right: 448px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    top: 3px;
    width: 8px;
    z-index: -1;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 5px 30.5px;
    transform: matrix(1, -1, 0, 1, 0, 0);
    transform-origin: 5px 30.5px;
    caret-color: rgb(255, 255, 255);
    border-top: 3px solid rgb(247, 41, 110);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 2px solid rgb(247, 41, 110);
    font: 500 20px / 25px Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    list-style: outside none none;
    outline: rgb(255, 255, 255) none 0px;
    transition: all 0.1s ease 0s;
}/*#mockup_A_4:before, #mockup_A_6:before*/

#mockup_LI_5 {
    background-position: 50% 0%;
    color: rgb(255, 255, 255);
    display: flex;
    height: 60px;
    max-width: 450px;
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    width: 450px;
    column-rule-color: rgb(255, 255, 255);
    align-items: center;
    perspective-origin: 225px 30px;
    transform-origin: 225px 30px;
    caret-color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0) none no-repeat scroll 50% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    flex-flow: column nowrap;
    font: 18px / 26px Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    list-style: outside none none;
    margin: 0px 0px 30px;
    outline: rgb(255, 255, 255) none 0px;
}/*#mockup_LI_5*/

#mockup_LI_5:after {
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 18px / 26px Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    list-style: outside none none;
    outline: rgb(255, 255, 255) none 0px;
}/*#mockup_LI_5:after*/

#mockup_LI_5:before {
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 18px / 26px Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    list-style: outside none none;
    outline: rgb(255, 255, 255) none 0px;
}/*#mockup_LI_5:before*/

