


  
  
  #mockup_DIV_1 {
    background-position: 50% 0%;
    color: rgb(255, 255, 255);
    display: flex;
    height: 90px;
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    width: auto;
    column-rule-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    perspective-origin: 756px 45px;
    transform-origin: 756px 45px;
    caret-color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0) none no-repeat scroll 50% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    flex-flow: row wrap;
    font: 18px / 26px Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    margin: 40px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
  }/*#mockup_DIV_1*/
  
  #mockup_DIV_1:after {
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 18px / 26px Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
  }/*#mockup_DIV_1:after*/
  
  #mockup_DIV_1:before {
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 18px / 26px Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
  }/*#mockup_DIV_1:before*/
  
  #mockup_UL_2 {
    background-position: 50% 0%;
    color: rgb(255, 255, 255);
    display: flex;
    height: 90px;
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    width: 1512px;
    column-rule-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    perspective-origin: 756px 45px;
    transform-origin: 756px 45px;
    caret-color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0) none no-repeat scroll 50% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    flex: 0 1 100%;
    font: 18px / 26px Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    list-style: outside none none;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px;
  }/*#mockup_UL_2*/
  
  #mockup_UL_2:after {
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 18px / 26px Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    list-style: outside none none;
    outline: rgb(255, 255, 255) none 0px;
  }/*#mockup_UL_2:after*/
  
  #mockup_UL_2:before {
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 18px / 26px Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    list-style: outside none none;
    outline: rgb(255, 255, 255) none 0px;
  }/*#mockup_UL_2:before*/
  
  .buttonPressed {
    transform: translate(-5px, 12px) !important;
  }

  .buttonActive {
    transform: translate(5px, 5px);
    background-position: 50% 0%;
    color: rgb(255, 255, 255);
    display: flex;
    height: 60px;
    max-width: 450px;
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    width: 450px;
    column-rule-color: rgb(255, 255, 255);
    align-items: center;
    perspective-origin: 225px 30px;
    transform-origin: 225px 30px;
    caret-color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0) none no-repeat scroll 50% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    flex-flow: column nowrap;
    font: 18px / 26px Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    list-style: outside none none;
    margin: 0px 56px 30px 0px;
    outline: rgb(255, 255, 255) none 0px;
  }
  
  .buttonActive:after {
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 18px / 26px Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    list-style: outside none none;
    outline: rgb(255, 255, 255) none 0px;
  }/*.buttonActive:after*/
  
  .buttonActive:before {
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 18px / 26px Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    list-style: outside none none;
    outline: rgb(255, 255, 255) none 0px;
  }/*.buttonActive:before*/
  
li .buttonActive {
    color: rgb(247, 41, 110) !important;
}

  .buttonActiveLink {
    box-sizing: border-box;
    color: rgb(247, 41, 110);
    display: flex;
    height: 60px;
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(247, 41, 110);
    width: 450px;
    column-rule-color: rgb(247, 41, 110);
    align-items: center;
    justify-content: center;
    perspective-origin: 225px 30px;
    transform: matrix(1, 0, 0, 1, 4, -4);
    transform-origin: 225px 30px;
    caret-color: rgb(247, 41, 110);
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 2px solid rgb(247, 41, 110);
    flex: 0 0 auto;
    font: 500 20px / 25px Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    list-style: outside none none;
    outline: rgb(247, 41, 110) none 0px;
    transition: all 0.1s ease 0s;
  }/*.buttonActiveLink*/
  
  .buttonActiveLink:after {
    bottom: -12px;
    color: rgb(247, 41, 110);
    display: block;
    height: 9px;
    color: rgb(247, 41, 110);

    left: -7px;
    position: absolute;
    right: 3px;
    text-align: center;
    text-decoration: none solid rgb(247, 41, 110);
    top: 57px;
    width: 444px;
    z-index: -1;
    column-rule-color: rgb(247, 41, 110);
    perspective-origin: 225px 5.5px;
    transform: matrix(1, 0, -1, 1, 0, 0);
    transform-origin: 225px 5.5px;
    caret-color: rgb(247, 41, 110);
    background: rgb(247, 41, 110) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 0px solid rgb(247, 41, 110);
    border-right: 3px solid rgb(247, 41, 110);
    border-bottom: 2px solid rgb(247, 41, 110);
    border-left: 3px solid rgb(247, 41, 110);
    font: 500 20px / 25px Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    list-style: outside none none;
    outline: rgb(247, 41, 110) none 0px;
    transition: all 0.1s ease 0s;
  }/*.buttonActiveLink:after*/
  
  .buttonActiveLink:before {
    bottom: -8px;

    color: rgb(247, 41, 110);
    display: block;
    height: 58px;
    left: -12px;
    position: absolute;
    right: 448px;
    text-align: center;
    text-decoration: none solid rgb(247, 41, 110);
    top: 3px;
    width: 8px;
    z-index: -1;
    column-rule-color: rgb(247, 41, 110);
    perspective-origin: 5px 30.5px;
    transform: matrix(1, -1, 0, 1, 0, 0);
    transform-origin: 5px 30.5px;
    caret-color: rgb(247, 41, 110);
    background: rgb(247, 41, 110) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 3px solid rgb(247, 41, 110);
    border-right: 0px none rgb(247, 41, 110);
    border-bottom: 0px none rgb(247, 41, 110);
    border-left: 2px solid rgb(247, 41, 110);

    list-style: outside none none;
    outline: rgb(247, 41, 110) none 0px;
    transition: all 0.1s ease 0s;
  }/*.buttonActiveLink:before*/
  
  .buttonInactive {
    background-position: 50% 0%;
    color: rgb(255, 255, 255);
    display: flex;
    height: 60px;
    max-width: 450px;
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    width: 450px;
    column-rule-color: rgb(255, 255, 255);
    align-items: center;
    perspective-origin: 225px 30px;
    transform-origin: 225px 30px;
    caret-color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0) none no-repeat scroll 50% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    flex-flow: column nowrap;
    font: 18px / 26px Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    list-style: outside none none;
    margin: 0px 0px 30px;
    outline: rgb(255, 255, 255) none 0px;
  }
  
  .buttonInactive:after {
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 18px / 26px Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    list-style: outside none none;
    outline: rgb(255, 255, 255) none 0px;
  }
  
  .buttonInactive:before {
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: 18px / 26px Roboto, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    list-style: outside none none;
    outline: rgb(255, 255, 255) none 0px;
  }
