<div>
  <h1>Welcome to the coin toss game</h1>
  <div [ngSwitch]="state" class="state-indicator">
    <div *ngSwitchCase="stateEnum.initial">
      Creating channel...
    </div>
    <div *ngSwitchCase="stateEnum.channelCreated">
      ✔️ Channel Created.
      Creating contract...
    </div>
    <div *ngSwitchCase="stateEnum.contractCreated">
      Ready to toss. Guess an outcome:
      <button (click)="setGuess('heads')">Heads</button>
      <button (click)="setGuess('heads')">Tails</button>
    </div>
    <div *ngSwitchCase="stateEnum.hashInserted">
      Ready for your guess :)
    </div>
    <div *ngSwitchCase="stateEnum.error">
      Ups we encountered an error. Please reload :)
    </div>
    <div *ngSwitchCase="stateEnum.ready">
      Press the button to start the game
      <button>Start</button>
    </div>
</div>
