
/*--------------------*/
/* Grow Pop */
/*--------------------*/



/* The colors for nth-element here is defined in style.scss  */
.nav-growpop .icon-wrap {
	position: relative;
	z-index: 100;
	display: block;
	padding: 20px 10px;
	border: 0px solid #6D6875;
	background: #6D6875;
	-webkit-transition: border-width 0.3s 0.15s;
	transition: border-width 0.3s 0.15s;
}

/* .nav-growpop .icon-wrap:nth-of-type(1) {
    background: #c1c1c1;
} */
.transaction{
    height:122px;
}
.nav-growpop svg.icon {
	fill: #fff;
}

.nav-growpop div {
	position: absolute;
	top: 50%;
	padding: 20px;
	width: 440px;
	height: 144px;
	background: #fff;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.nav-growpop a.prev div {
	left: 0;
	padding: 20px 140px 20px 70px;
	text-align: right;
	-webkit-transform: translateY(-50%) translateX(-100%) scale(0.75);
	transform: translateY(-50%) translateX(-100%) scale(0.75);
}

.nav-growpop a.next div {
	right: 0;
	padding: 20px 70px 20px 140px;
	-webkit-transform: translateY(-50%) translateX(100%) scale(0.75);
	transform: translateY(-50%) translateX(100%) scale(0.75);
}

.nav-growpop span {
	display: block;
	padding-bottom: 5px;
	border-bottom: 1px solid #ddd;
	color: #cdcdcd;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 0.7em;
	line-height: 1.2;
}

.nav-growpop h3 {
	margin: 0;
	padding: 8px 0 10px;
	color: #818181;
	font-weight: 300;
	font-size: 1.325em;
	line-height: 1.2;
}

.nav-growpop div p {
	margin: 0;
	color: #b24e44;
	font-style: italic;
	font-size: 75%;
	font-family: "Lucida Bright", Georgia, serif;
}

.nav-growpop img {
	position: absolute;
	top: 20px;
}

.nav-growpop a.prev img {
	right: 20px;
}

.nav-growpop a.next img {
	left: 20px;
}

.nav-growpop a:hover .icon-wrap {
	border-top-width: 40px;
	border-bottom-width: 40px;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.nav-growpop a:hover .txcontent {
	opacity: 1;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
	-webkit-transform: translateY(-50%) translateX(0) scale(1);
	transform: translateY(-50%) translateX(0) scale(1);
}

/* Same like hover, but for expanded state */

.nav-growpop a .icon-wrap.outExpanded {
	border-top-width: 40px;
	border-bottom-width: 40px;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.nav-growpop a .txcontent.outExpanded {
	opacity: 1;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
	-webkit-transform: translateY(-50%) translateX(0) scale(1);
	transform: translateY(-50%) translateX(0) scale(1);
}
